{% if 0 < page.collection()|length %}
<section class="module module-notable">
	<h2 class="module-notable__header">{{ header.title }}</h2>
	{% for article in page.collection() %}
	<div class="module-notable__article">
		<h3 class="module-notable__title">{{ article.parent.title }} <span class="module-notable__era">{{ article.header.era }}</span></h3>
		{{ article.content }}
		<h5 class="module-notable__link"><a href="{{article.parent.url}}">Read more</a></h5>
	</div>
	{% endfor %}
</section>
{% endif %}